<h6> You are logged in as <%= @user.email %></h6>

<br />
<br />

<table>
  <tr>
    <th>File Type</th>
    <th>Number of Files</th> 
    <th>Weight (in MB)</th>
  </tr>
  <tr>
    <td>Videos</td>
    <td><%=@file_list.data_per_category["video_files"]["file_number"]%></td> 
    <td><%=@file_list.data_per_category["video_files"]["files_weight"]%></td>
  </tr>
  <tr>
    <td>Songs</td>
    <td><%=@file_list.data_per_category["song_files"]["file_number"]%></td> 
    <td><%=@file_list.data_per_category["song_files"]["files_weight"]%></td>
  </tr>
  <tr>
    <td>Documents</td>
    <td><%=@file_list.data_per_category["document_files"]["file_number"]%></td> 
    <td><%=@file_list.data_per_category["document_files"]["files_weight"]%></td>
  </tr>
  <tr>
    <td>Binary</td>
    <td><%=@file_list.data_per_category["binary_files"]["file_number"]%></td> 
    <td><%=@file_list.data_per_category["binary_files"]["files_weight"]%></td>
  </tr>
  <tr>
    <td>Text</td>
    <td><%=@file_list.data_per_category["text_files"]["file_number"]%></td> 
    <td><%=@file_list.data_per_category["text_files"]["files_weight"]%></td>
  </tr>
  <tr>
    <td>Others</td>
    <td><%=@file_list.data_per_category["other_files"]["file_number"]%></td> 
    <td><%=@file_list.data_per_category["other_files"]["files_weight"]%></td>
  </tr>
</table>

<br />
<br />

<h2>The total weight of your files is <%= @file_list.total_weight %> MB </h2>
<p> Add. gravity <%= @file_list.gravity_displacement %> </p>
